
<h1 align="center">Welcome Admin!</h1>


<%= yield %>

 <p align ="center">
   <b>
   <%= link_to "Manage users", users_path %>
   <%= link_to "Manage posts", posts_path %>
   <%= link_to "View post activity", :controller => :admin, :action=> :post_activity %>
  </b>
</p>

