// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
color: #00008B;
background-color:#98F5FF;
}


                        td {
                            colspan: 1;
                            background: #F2F2F2;
                        }
